.footer-container {
  padding: 24px 0;
  text-align: center;
  font-size: 1.5rem;
  border-top: 2px solid #ddd; /* Light separator */
  background: none; /* No background color */
}

.footer-content a {
  color: inherit; /* Uses default text color */
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}
