/* General Styles
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.landing-page {
  background-color: #fef4dc;
  padding: 20px;
}


.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background-color: #fef4dc;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
}

.schedule-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.schedule-button:hover {
  background-color: #45a049;
}

/*
.hero-image {
  position: relative;
}

.main-pet-image {
  width: 300px;
  border-radius: 15px;
}

.small-pet-image {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Features Sectio
.features-section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-card {
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.feature-icon {
  width: 80px;
  margin-bottom: 20px;
}

.feature-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 1rem;
  color: #555;
} */
